<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form action="">
        <label for="nombre"> Nombre de empleado </label>
        <br>
        <input type="text" name="nombre" required>

        <label for="dui">DUI</label>
        <br>
        <input type="number" name="dui" required>

        <label for="telefono">Telefono</label>
        <br>
        <input type="tel" name="telefono" required>

        <label for="correo">Correo</label>
        <br>
        <input type="email" name="correo" required>

        <input type="submit">
    </form>



</body>
</html>