
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save</h2>

@using (Html.BeginForm("Save", "Empleado", FormMethod.Post))
{
    <label for="nombre"> Nombre de empleado </label>
    <br>
    <input type="text" name="nombre" required>
    <br>
    <label for="dui">DUI</label>
    <br>
    <input type="number" name="dui" required>
    <br>
    <label for="telefono">Telefono</label>
    <br>
    <input type="tel" name="telefono" required>
    <br>
    <label for="correo">Correo</label>
    <br>
    <input type="email" name="correo" required>
    <br>
    <input type="submit">
}